body {
    background: #f2f7fa;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.75em;
    color: #333333;
    margin: 40px;
}

table, td, th {
    border: 1px solid #a99c8b;
    border-collapse: collapse;
    padding: 5px;
}

table {
    margin: 20px;
}

.numeric {
	text-align: right;
}

img {
    vertical-align: middle;
}

a {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    color: #205589;
    border-bottom: dashed 1px #7391a1;
    text-decoration: none;
}

